@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}


html {
    background-color: red;
    margin: 0;
    height: 100%;
}

body {
    background-color: rgb(0, 179, 255);
    text-align: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.titleBox {
    font-family: Archivo-black-regular, sans-serif;
    background-color: rgb(27, 218, 123);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.titleText {
    margin: 0 0 2px 0;
}

.subtitleText {
    margin: 1px 0 0 0;
}