html {
    background-color: red;
}

body {
    background-color: blue;
    text-align: center;
    height: 100vh;
}

.titleBox {
    background-color: rgb(23, 210, 178);
}

.titleText {
    margin-bottom: 2px;
}

.subtitleText {
    margin-top: 1px;
}