html {
    background-color: red;
    margin: 0;
    height: 100%;
}

body {
    background-color: rgb(0, 179, 255);
    text-align: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.titleBox {
    background-color: rgb(23, 210, 178);
    border-radius: 20px;
}

.titleText {
    margin: 0 0 2px 0;
}

.subtitleText {
    margin: 1px 0 0 0;
}